<header class="navbar navbar-fixed-top navbar-inverse">
<div style="position:relative;width:200px;"><iframe src="http://vi.thetimenow.com/clock/vietnam/hanoi?t=n&embed=1&text=15&textdate=15&format=24&digitalclock=36&analogclock=60&letter_spacing=-2&bordersize=1&bordercolor=BCE2F7&bgcolor=EBF8FF&colorloc=000000&colordigital=2C8EBF&colordate=000000&styleloc=normal&styledigital=normal&styledate=normal&right=0" width="200" height="90" style="border:none;overflow:hidden;" scrolling="no"></iframe><a href="http://vi.thetimenow.com/vietnam/hanoi" style="position:absolute; top:0; left:0; display:inline-block; width:200px; height:90px; z-index:50;" target="_blank" rel="nofollow" title="Clock provided by thetimenow.com"></a></div>
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>